.add-news-input{
    width: 70%;
    margin-left: 15%;
    border-radius: 0%;
    margin-bottom: 20px;
}

.add-news-submit{
    width: 30%;
    margin-left: 35%;
    height: auto;
    margin-bottom: 20px;
}

.news_image{
    height: 80px;
    width: 120px;
}

